[user]
	name = Mariano Abel Coca
	email = marianoabelcoca@gmail.com
[core]
	excludesfile = /Users/nekron/.gitignore_global
[merge]
  tool = extMerge
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist ="log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short" ; --all para listar todos los branches
  logg = "log --graph --oneline" ; --all para listar todos los branches
  f = fetch
  diffs = diff --staged
  logr = log --reverse
  diff2 = difftool -t opendiff -y
[push]
  default = tracking
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[mergetool]
  trustExitCode = false
[mergetool "extMerge"]
  cmd ="extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[commit]
	template = /Users/nekron/.stCommitMsg
